.no-favs {
  width: 40% !important;
  height: auto;
  margin: 0 auto;
}
.find-pet-btn {
  height: 50px;
  width: 100% !important;
  float: right;
  padding: 11px 30px;
  border: 2px solid #6504b5;
  border-radius: 25px;
  background-color: #6504b5;
  font-size: 13px;
  color: white;
}

.dropdown-btn {
  &:hover {
    color: #6504b5 !important;
  }
}

.dropdown-menu {
  width: 100%;
}

.find-pet-buttons {
  width: 90%;
  height: auto;
  margin: 0 auto;
}
